registry=https://pkgs.dev.azure.com/limitlessuz/insidebysana.uz/_packaging/insidebysana-test-artifacts/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/limitlessuz/insidebysana.uz/_packaging/insidebysana-test-artifacts/npm/registry/:username=limitlessuz
//pkgs.dev.azure.com/limitlessuz/insidebysana.uz/_packaging/insidebysana-test-artifacts/npm/registry/:_password=bzVyazRtdDN4YndnYWlvNnZwNjNuc2J6eWw0Z2lyd21qbDNhNHltc3RpZGViNnF0cjRvcQ==
//pkgs.dev.azure.com/limitlessuz/insidebysana.uz/_packaging/insidebysana-test-artifacts/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/limitlessuz/insidebysana.uz/_packaging/insidebysana-test-artifacts/npm/:username=limitlessuz
//pkgs.dev.azure.com/limitlessuz/insidebysana.uz/_packaging/insidebysana-test-artifacts/npm/:_password=bzVyazRtdDN4YndnYWlvNnZwNjNuc2J6eWw0Z2lyd21qbDNhNHltc3RpZGViNnF0cjRvcQ==
//pkgs.dev.azure.com/limitlessuz/insidebysana.uz/_packaging/insidebysana-test-artifacts/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
